/* -------- events.scss -------- */

@use "base" as *;

ul.upcoming-events {
  list-style: none;
  font-family: Montserrat;
  font-size: 0.925rem;
  margin: 0;
  padding: 0;
}

ul.upcoming-events > li:not(:first-child) {
  margin-top: 1.125rem;
}

ul.upcoming-events > li {
  display: grid;
  grid-template-columns: 40% 20% 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 4px;
}

ul.upcoming-events > li > div {
  background-color: $illini-gray-1;
  padding: 0.25rem 0.5rem;
}

ul.upcoming-events > li > div:first-child {
  grid-column: 1 / 4;
}

// presentations

ul.upcoming-events.presentations > li {
  grid-template-columns: 60% 20% 1fr;
}
